@import "../../../../styles/variables.scss";

.LeftSide {
    min-width: 20%;
    height: 100vh;
    background-color: $left-side-bgcolor;
    color: $main-text-color;
    .AppNameLeft {
        height: 90px;
        border-left: 5px solid $dark-red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        * {
            color: $dark-red;
        }
        .AppTitle {
            font-size: 25px;
            font-weight: bold;
        }
    }
    .LeftSideMenu {
        display: flex;
        flex-direction: column;
        .MenuItem {
            height: 50px;
            display: flex;
            align-items: center;
            padding-left: 30px;
            * {
                color: $main-text-color;
            }
            i {
                margin-right: 15px;
                font-size: 20px;
            }
            span {
                font-weight: bold;
            }
            &:hover {
                background-color: $bgcolor-dark;
                cursor: pointer;
            }
        }
        .actived {
            background-color: $bgcolor-dark;
        }
    }
}