@import '../../../../styles/variables.scss';
.Header {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid $dark-red; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $dark-red;
    .HeaderTitle {
        text-transform: uppercase;
        font-weight: 900;
    }

    .HeaderRight {
        span {
            padding: 0 10px;
            text-transform: uppercase;
            font-weight: 900;

            &:hover {
                color: $left-side-bgcolor;
                cursor: pointer;
            }
        }
    }
}