// Typography
$font-family-body: 'Courier', 'Helvetica Neue', sans-serif;

// Color
$my-color: #12a5f4;
$bg-primary-color: #8BC34A;
$border-color: #8BC34A;
$dark-green: #059121;
$error-color: red;
$dark-red: #c40505;
$left-side-bgcolor: #1C2B36;
$bgcolor-dark: #16242d;
$main-text-color: #FFFFFF;

// Global margin
$header-height: 50px;
$bottom-height: 50px;
$side-bar-width: 50px;
$side-bar-width-toggling: 200px;