@import "../../styles/variables";

.App {
	.NotFoundMessage {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		font-size: 31px;
	}
}

.ModalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	* {
		color: $dark-red;
	}
	.Title {
		text-transform: uppercase;
		font-weight: 900;
	}
	.Close {
		cursor: pointer;
	}
}
