
.ProductItem {
    max-width: calc(100% / 4);
    @media screen and (max-width: 1599px) and (min-width: 1025px) {
        max-width: calc(100% / 4);
    }
    @media screen and (max-width: 1024px) and (min-width: 768px) {
        max-width: calc(100% / 3);
    }
    @media screen and (max-width: 767px) and (min-width: 500px) {
        max-width: calc(100% / 2);
    }
    @media screen and (max-width: 499px) {
        max-width: 100%;
    }
    padding: 10px;
    .ProductItemCover {
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.5);
        }
        .ProductItemImg {
            width: 100%;
            img {
                width: 100%;
                height: 180px;
            }
        }
        .ProductTitle {
            font-size: 16px;
            font-weight: bold;
            padding: 10px;
        }
        .ProductPriceCover {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            .MainPrice {
                * {
                    font-weight: 900;
                }
                span:first-child {
                    margin-right: 10px;
                    text-decoration: line-through;
                }
                span:last-child {
                    color: red;
                }
            }
            .ProductShippingIcon {
                i {
                    font-size: 25px;
                    color: green;
                }
            }
        }
        .ProductRating {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            .ProductRatingLeft {
                span:first-child {
                    margin-right: 5px;
                    cursor: pointer;
                }
            }
            .ProductRatingRight {
                display: flex;
                .StartRating {
                    margin-right: 5px;
                    .checked {
                        color: orange;
                    }
                }
            }
        }
    }
}