@import "../../../styles/variables";

.LoginPopup {
    .modal-content {
        border-radius: 0;

        .LoginHeader {
            display: flex;
            width: 100%; 
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            height: 30px;
            .LoginTitle {
                font-weight: 900;
                text-transform: uppercase;
            }
            .LoginClose {
                font-size: 20px;
                cursor: pointer;
            }
        }

        .modal-footer {
            padding: 0;  
        }
        .LoginFooter {
            display: flex;
            flex: 1;
            width: 100%; 
            justify-content: space-around;
            align-items: center; 

            .LoginSection {
                text-transform: uppercase;
                display: flex;
                width: 50%;
                height: 50px;
                align-items: center;
                justify-content: center;
                &:nth-child(1) {
                    border-right: 0.5px solid #FFF;
                }
                &:nth-child(2) {
                    border-left: 0.5px solid #FFF;
                }
                &:hover {
                    cursor: pointer;
                    background: $dark-red;
                    font-weight: 900;
                    color: $main-text-color;
                }
                &.Actived {
                    background: $dark-red;
                    font-weight: 900;
                    color: $main-text-color;
                }
            }
        }
    }
}