@import "../../../styles/variables";

.MainApp {
    position: relative;
    height: 100vh;
    overflow: hidden;
    .MainAppWrapper {
        display: flex;
        flex: 1;
        min-height: 100vh;
        position: relative;
    }
}